.layoutCnt {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* border:2px solid blue; */
}

.sideNav {
  flex-basis: 18%;
  /* border-radius: 10px; */
}

.page {
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%); */
  
}
