/* .inputCardCnt {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    height:100vh;
} */

.inputCard {
  background-color: #fff;
  border:2px solid red;
}

/* .cardInputs {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  border:2px solid red;
  flex:50%
} */

.cardInputs {
  width: 95%;
  margin:0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
