.navCnt {
  background: #212121;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e1e1e9;
}
.logo {
  color: #af8bf8;
  margin-bottom: 40px;
  text-align: center;
  /* border: 1px solid white; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItemCnt {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
