.apptCardItem {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-around;
}

.apptCardAvi {
  flex-basis: 30%;
  width:auto;
  border-radius: 50%;
}

.apptCardAvi img {
  width:40px;
  border-radius: 50%;
}

.apptCardName {
  flex-basis: 30%;
  text-align: left;
}

.apptStatus {
  color: rgb(179, 20, 20);
}

.apptCardTime {
  flex-basis: 30%;
  text-align: left;
}

.line {
  height: 1px;
  width: 70%;
  margin: 12px auto;
  background-color: #6f3ad9;
}
