.Container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #fff;
}
.appContainer {
}

.childPage {
  width: 98%;
  margin: 20px auto 0px auto;
}

.toggle {
  position: absolute;
  top: 310px;
  right: 0;
  z-index: 800;
  /* height: 360px; */
  background: red;
  cursor: pointer;
}
