#psych-article{
    padding:20px 0;
}

.psych-article-center {
    width:95%;
    margin:0 auto;
}

.psych-article-center {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 1rem;
}