.articleCnt {
  background-color: #fff;
  display: flex;
  height: 100vh;
}
.articleList {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border:1px solid red; */
}
.articleFormCnt {
  /* margin-top:-5px;  */
  background: #fff;
  min-height: 100%;
  flex-basis: 50%;
}

.articleCenter {
  padding: 10px 0;
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
}
.titleSpan {
  font-size: 20px;
  font-weight: 400;
}
.richTextSpan {
  font-size: 20px;
  font-weight: 400;
}
.titleInput {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  padding-left: 10px;
}

.richText {
  height: 250px;
  margin-bottom: 50px;
}

.articleTags {
  margin-bottom: 10px;
}
.tagsSpan {
  font-size: 20px;
  font-weight: 400;
}
.submitBtn {
  outline: none;
  color: #fff;
  background: #703bda;
  border-color: #703bda;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
