.incomingCallCard {
  width: 350px;
  height: 300px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 120;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.imgContainer {
  width: auto;
  border-radius: 50%;
  margin: 15px 0;
}

.callerAvi {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.incomingCallBtnCnt {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.btnCnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnCnt:hover {
  cursor: pointer;
}

.incomingCallBtn {
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 10px;
  position: relative;
}

.answerCall:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid #44bd32;
  border-radius: 50%;
  animation: pulseeffects 1.5s linear infinite;
  /* animation-delay: 0.4s; */
}
.answerCall:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid #44bd32;
  border-radius: 50%;
  animation: pulseeffects 1.5s linear infinite;
  animation-delay: 0.4s;
}

@keyframes pulseeffects {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.incomingCallBtn i {
  font-size: 20px;
}

.answerCall {
  background-color: #44bd32;
}

.declineCall {
  background-color: rgb(211, 19, 19);
  /* margin-left: 60px; */
}
