.scheduleCnt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todaysSchedule {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.deleteScheduleButton {
  background: none;
  border:1px solid red;
  color:red;
  margin-left:10px;
  outline: none;
  cursor: pointer;
}
